* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header .banner {
  background-color: rgb(78, 160, 255);
  background-image: url('../img/pattern.png');
  background-size: 21%;
}

header .banner img {
  height: 50px;
  margin: 50px 0 0 10px;
}

/* MAIN */
main, footer {
  width: 950px;
  margin: auto;
}

/* TITOLO E CREDITI */
h1 {
  font-size: 2.5rem;
  margin-top: 40px;
}

.credits, .release-date {
  color: rgb(160, 160, 160);
}

.credits {
  font-size: 1.5em;
}

.autor-name {
  color: rgb(24, 166, 228);
}

.tim-photos {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
}

.tim-photos #photo-1 {
  width: 52%;
}

.tim-photos #photo-2 {
  width: 44.5%;
}

.captions {
  font-size: .8rem;
  /* margin-bottom: 30px; */
}

/* ARTICOLO */
.article-body,.data-table {
  margin-top: 15px;
}

.article-body .important-text {
  background-color: yellow;
}

.article-body ul {
  margin-top: 20px;
}

/* TABELLA */
.data-table table{
  background-color: rgb(32, 169, 229);
  padding: 0;
  border-collapse: collapse;
}

.data-table table thead {
  background-color: rgb(32, 169, 229);
  color: white;
  text-align: left;
}

.data-table table thead th {
  min-width: 200px;
}

.data-table table td {
  background-color: rgb(177, 229, 242);
}

.data-table table .second-line td {
  background-color: white;
}

/* FOOTER */
footer h4 {
  margin-top: 50px;

  color: rgb(141, 141, 141);
}

footer .other-articles a {
  position: relative;
}

footer .other-articles a img {
  width: 200px;
  margin-top: 5px;
}

footer .other-articles a span {
  position: absolute;
  color: white;
  margin: 15px 0 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
}